services:
  db:
    container_name: HW3_postgress
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: dvd_rental
    healthcheck:
      test: ["CMD-SHELL", "pg_is_ready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - HW3_postgress:/var/lib/postgresql/data
      - ./backups:/backups
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  HW3_postgress:
